{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid top-padding">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Contact Us</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center">
                <i class="fa-sharp fa-solid fa-location-dot contact-icon"></i>
                <h3>Address</h3>
                <p>98 Manor Road<br>
                    London<br>
                    W42 6GI<br>
                    United Kingdom</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center">
                <i class="fa-solid fa-envelope contact-icon"></i>
                <h3>Email</h3>
                <p>Send us an email at</p>
                <p>thekitbag10@gmail.com</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center">
                <i class="fa-solid fa-phone contact-icon"></i>
                <h3>Telephone</h3>
                <p>Call, Text or Whatsapp</p>
                <p>07799307189</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center">
                <i class="fa-brands fa-facebook contact-icon"></i>
                <h3>Facebook</h3>
                <p>Keep up to date with us at</p>
                <a href="">The Kitbag</a>
            </div>
        </div>
    </div>
{% endblock %}