{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid top-padding">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="mobile-title">Frequently Asked Questions</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-1"></div>
        <div class="col-lg-6 col-sm-10 mt-3 mb-3">
            <h4 class="text-center mt-3">Returns</h4>
            <h5>How do I return an item?</h5>
            <p>You may return an item within 14 days of receipt for a full refund. After the 14 day period, we will not
                accept any returns.</p>
            <h5>What condition must my return be in?</h5>
            <p>Returned items must be in the same condition they were sent in. This does not include the removal of an
                item from a plastic bag, but it does include the removal of tags.</p>
            <h5>When will my return be processed?</h5>
            <p>Please allow up to 7 days for your return to be processed.</p>
            <hr>
            <h4 class="text-center">Delivery</h4>
            <h5>Where is my order?</h5>
            <p>If you have not received your order yet, don't worry! Your order confirmation email will show the date
                that your order should be delivered by. Very occasionally there may be a delay that is outside the
                courier's control, please allow a couple of days for your order to start moving again. </p>
            <h5>What are your delivery cost?</h5>
            <h5>Can I have the items sent to someone as a gift?</h5>
            <p>Yes, when filling out the delivery address you can provide an alternative address.</p>
            <hr>
            <h4 class="text-center">Payment</h4>
            <h5>What payment methods do you accept?</h5>
            <p>We currently accept, Visa, Mastercard and American Express.</p>
            <h5>What currency can I pay in?</h5>
            <p>We only accept payment in Pound Sterling £ GBP. For international customers the total will be converted
                by your bank or payment provider into your native currency equivalent and this amount will appear on
                your bank statement. The exchange rate is determined by the bank or payment provider</p>
            <h5>Why won't my payment go through?</h5>
            <p>If you're having difficulty completing a purchase by card we recommend contacting your card issuer/bank
                and informing them that you intend to place an order.</p>
            <hr>
            <h4 class="text-center">Products</h4>
            <h5>How should I wash my football shirt?</h5>
            <p>Items should be washed at a cool temperature (20°C if possible), inside out and on a hand-wash cycle if
                available. For shirts manufactured over 10 years ago we recommend hand-washing at a low temperature
                only. </p>
            <h5>Are the shirts original and official?</h5>
            <p>All of our football shirts are original, and from the time. We do not condone the selling of unauthorised
                remakes, or 'fakes'.</p>
            <h5>What do the letters mean for sizes?</h5>
            <p> XS = Extra Small, S = Small, M = Medium, L = Large, XL = Extra Large</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}