{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--- Newsletter Sign Up -->
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="sign-up-text">Sign up to our mailing list to be notified <strong>first</strong> about our new <strong>weekly</strong> football shirts on sale</h1>
                <form method="POST" action="{% url 'newsletter_signup' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="email" name="email" class="w-50">
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
{% endblock %}
