{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid top-padding">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="mobile-title">Returns Policy</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-1"></div>
        <div class="col-lg-6 col-sm-10 mt-3 mb-3">
            <p>Last updated April 03, 2023.</p>

            <p>Thank you for your purchase. We hope you are happy with your purchase. However, if you are not completely
                satisfied with your purchase for any reason, you may return it to us for a full refund or store credit.
                Please see below for more information on our returns policy.</p>

            <h4>Returns </h4>

            <p>All returns must be posted within 14 days of the purchase date. All returned items must be new and unused
                condition.</p>

            <h4>Returns Process</h4>

            <p>To return an item, please email customer service at thekitbag@gmail.com to obtain a Return Merchandise
                Authorisation (RMA) number. After receiving a RMA number, place the item securely in its original
                packaging, and mail your return to the following address:</p>
            <p>The Kitbag<br>
                98 Manor Road<br>
                London<br>
                W42 6GI<br>
                United Kingdom</p>
            <p>Please note, you will be responsible for all shipping changes. We strongly recommend that you use a
                trackable method to mail your return.</p>

            <h4>Exceptions</h4>

            <p>For defective or damaged products, please contact us at the contact details below to arrange a refund or
                exchange.</p>

            <h4>Questions</h4>

            <p>If you have any questions concerning our returns policy, please contact us at:</p>
            <p>thekitbag10@gmail.com</p>

            <p>This returns policy was created using Termly’s Return and Refund Policy Generator. </p>
        </div>
    </div>
</div>
{% endblock %}