html {
    height: 100%;
}

body {
    background-image: url('/media/bg-barca.jpeg');
    background-size: cover;
    height: calc(100vh - 164px);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #eee;
    z-index: -1;
}

/* ----------------------------------------------------- Header Background */

#main-header {
    background-color: #eee;
}

/* ----------------------------------------------------- Logo */

.main-logo {
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------------------- Account, Site Info and Basket */

.desktop-account-info-basket-list {
    display: flex;
    font-size: 1.5em;
}

.desktop-icon {
    color: #000;
    padding-top: 35px;
    padding-right: 20px;
}

.desktop-icon-text {
    color: #000;
    text-align: center;
    padding-right: 20px;
}

.mobile-icon {
    color: #000;
}

.mobile-icon-text {
    color: #000;
    text-align: center;
}

/* ----------------------------------------------------- Sign Up to Newsletter */

.sign-up-text {
    color: #eee;
}

/* ----------------------------------------------------- Shirts and Shirt Detail */

.top-padding {
    padding-top: 200px;
}

/* ----------------------------------------------------- Basket */

.basket-shirt-image {
    height: 250px;
    width: 250px;
}

/* ----------------------------------------------------- Hide Top Menu */

@media (max-width: 990px) {
    .hidden-mobile {
      display: none;
    }
  }


  /* ----------------------------------------------------- Hide Logo  */

  @media (min-width: 990px) {
    .hidden-desktop {
      display: none;
    }
  }