html {
    height: 100%;
}

body {
    /* background-image: url('/media/bg-barca.jpeg'); */
    background-size: cover;
    height: calc(100vh - 164px);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #eee;
    z-index: -1;
}

/* ----------------------------------------------------- Header Background */

.main-header-bg {
    background-color: #eee;
    height: 15%;
}

/* ----------------------------------------------------- Logo */

.main-logo {
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------------------- Account, Site Info and Basket */

.desktop-account-info-basket-list {
    display: flex;
    font-size: 1.5em;
}

.desktop-icon {
    color: #000;
    padding-top: 35px;
    padding-right: 20px;
}

.desktop-icon-text {
    color: #000;
    text-align: center;
    padding-right: 20px;
}

.mobile-icon {
    color: #000;
}

.mobile-icon-text {
    color: #000;
    text-align: center;
}

/* ----------------------------------------------------- Image Carousel & Sign Up */

.carousel-container {
    position: relative;
    text-align: center;
  }

  .sign-up-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

.sign-up-text {
    color: #eee;
}

/* ----------------------------------------------------- Shop Now */

.shop-now-container {
    background-color: #000;
    height: 300px;
    width: 200px;
}

/* ----------------------------------------------------- Shirts and Shirt Detail */

.top-padding {
    padding-top: 200px;
}

/* ----------------------------------------------------- Basket */

.basket-shirt-image {
    height: 250px;
    width: 250px;
}

/* ----------------------------------------------------- Footer */

footer {
    bottom: 0;
    height: 90px;
}

.footer-list {
    list-style-type: none;
    padding-top: 20px;
    color: #000;
}

.footer-text {
    font-size: 1em;
    padding-top: 20px;
}

/* ----------------------------------------------------- Hide Top Menu */

@media (max-width: 990px) {
    .hidden-mobile {
      display: none;
    }
  }


  /* ----------------------------------------------------- Hide Logo  */

  @media (min-width: 991px) {
    .hidden-desktop {
      display: none;
    }
  }

  /* ----------------------------------------------------- Header Media Queries  */

  @media (max-width: 1125px) {
    header {
      font-size: 0.8em;
    }

    .main-logo {
        height: 100px;
        width: 100px;
    }

    .main-header-bg {
        height: 12%;
    }
  }

  @media (max-width: 532px) {
    header {
      font-size: 0.6em;
    }

    .main-logo {
        height: 65px;
        width: 65px;
    }

    .navbar-toggler {
      height: 35px;
      width: 45px;
    }
  
    .navbar-toggler-icon {
      height: 20px;
      width: 20px;
    }
  }