{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="overlay"></div>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container h-100">
    <div class="row">
        <div>
            <h1 class="text-dange top-paddingr">
                404 Error
            </h1>
            <h2>The page you are looking for isn't available</h2>
            <div class="my-5">
                <h5>
                    <a href="{% url 'shirts' %}" class="btn-custom py-3">
                        Return to store
                    </a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}