<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
        <a class="font-weight-bold nav-link mr-5" href="{% url 'shirts' %}" id="all-products-link" aria-haspopup="true" aria-expanded="false">
            All
        </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'shirts' %}?league=premier_league" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                Premier League
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'shirts' %}?league=serie_a" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                Serie A
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'shirts' %}?league=la_liga" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                La Liga
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'shirts' %}?league=bundesliga" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                Bundesliga
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'shirts' %}?league=ligue_1" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                Ligue 1
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'shirts' %}?league=rest_of_world" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                ROW
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'shirts' %}?league=international" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                International
            </a>
        </li>
    </ul>
</div>