{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="mt-3">{% trans "Change Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mb-3">
        <button type="submit" name="action" class="btn-custom">{% trans "Change Password" %}</button>
        <a href="{% url 'home' %}" class="btn-custom"><i class="fa-solid fa-house home-icon"></i></a>
        </div>
    </form>
{% endblock %}
