{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="The Kitbag: Buy retro, vintage and classic football shirts from the best teams in the Premier League, Serie A, La Liga and many more.">
    <meta name="keywords" content="retro, classic, vintage, retro football, classic football, vintage football, retro football shirts, classic football shirts, vintage football shirts,
        football shirts, football kits, retro football kit, classic football kit, vintage football kit, buy retro football shirts, buy classic football shirts,
        70s football shirts, 80s football shirts, 90s football shirts, best football kits, best football shirts">
    <meta name="author" content="The Kitbag">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Kitbag {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top fixed-top-desktop-only" id="main-header">
        <div class="row hidden-mobile" id="topnav">

            <!--- Search Bar -->
            <div class="col-4">
                <form method="GET" action="{% url 'shirts' %}">
                    <div class="input-group p-5">
                        <input type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <span>
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!--- Logo --->
            <div class="col-4">
                <a href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}logo.png" alt="The Kitbag Logo" class="main-logo">
                </a>
            </div>
            <div class="col-4">
                <!--- Account --->
                <ul>
                    <li class="list-inline-item dropdown">
                        <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg desktop-icon"></i></div>
                                <p class="desktop-icon-text">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_shirt' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>

                    <!--- Site Info --->
                    <li class="list-inline-item dropdown">
                        <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg desktop-icon"></i></div>
                                <p class="desktop-icon-text">Site Info</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user-options">
                            <a href="{% url 'about_us' %}" class="dropdown-item">About Us</a>
                            <a href="{% url 'contact_us' %}" class="dropdown-item">Contact Us</a>
                            <a href="{% url 'faqs' %}" class="dropdown-item">FAQ's</a>
                            <a href="{% url 'returns' %}" class="dropdown-item">Returns Policy</a>
                            <a href="{% url 'privacy_policy' %}" class="dropdown-item">Privacy Policy</a>
                            <a href="{% url 'sell_shirt' %}" class="dropdown-item">Sell a Shirt</a>
                            <a href="{% url 'reviews' %}" class="dropdown-item">Company Reviews</a>
                        </div>
                    </li>

                    <!--- Basket --->
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_basket' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg desktop-icon"></i></div>
                                <p class="desktop-icon-text">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--- Menu --->
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container top-padding">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="bg-white w-100 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <a href="{% url 'faqs' %}">FAQ's</a>
                        </li>
                        <li>
                            <a href="{% url 'contact_us' %}">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <p>&copy; Copyright 2023. dansantinojones</p>
                    <p>No commercial revenue is generated from the project.</p>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <a href="{% url 'returns' %}">Returns Policy</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block postloadjs %}
    <script>
        setTimeout(function(){
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
    {% endblock %}

</body>

</html>