{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid top-padding">
        <div class="row">
            <div class="col text-center mt-3">
                {% for c in current_leagues %}
                    <h2>{{ c.friendly_name }}</h2>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for shirt in shirts %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if shirt.image %}
                                <a href="{% url 'shirt_detail' shirt.id %}">
                                    <img class="card-img-top img-fluid" src="{{ shirt.image.url }}" alt="{{ shirt.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'shirt_detail' shirt.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}" alt="{{ shirt.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ shirt.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ shirt.price }}</p>
                                        </div>
                                        <div class="col">
                                            <p>Size: {{ shirt.size }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}