{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid top-padding">
        <div class="row">
            <div class="col col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                {% if shirt.image %}
                    <a href="{{ shirt.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ shirt.image.url }}" alt="{{ shirt.name }}">
                    </a>
                    {% else %}
                    <a href="{{ shirt.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}" alt="{{ shirt.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4">
                <div class="product-detail-container mb-5 mt-md-5">
                    <p class="mb-0">{{ shirt.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ shirt.price }}</p>
                    <p class="mt-3">{{ shirt.description }}</p>

                    <form class="form" action="{% url 'add_to_basket' shirt.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p>Quantity:</p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ shirt.id }}" id="id_qty_{{ shirt.id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'shirts' %}" class="btn">
                                    <span>
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}